<head>
    <title>Algolia quickstart</title>
    <meta name="description" content="An Algolia and SendGrid app that searches and emails you data">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/45e6d35c-2e10-4020-8ad3-d5f1b9d3aae6%2Ffavicon.ico?1514126707681" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/aerial.css">
    <link href="https://fonts.googleapis.com/css?family=Pangolin|Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  </head>