# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET

## ＼(＾▽＾)／ 🔎 Step 2: Add your Alglia keys here: 
ALGOLIA_APP_ID=
ALGOLIA_ADMIN_API_KEY=
ALGOLIA_SEARCH_API_KEY=

# note: .env is a shell file so there can't be spaces around =

