<!DOCTYPE html>
<html>
  {% include "partials/header.html" %}
  <body class="fill-titan">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3" style="text-align: center"><img src="https://cdn.glitch.com/7030c786-e3b6-46e8-a491-27b901fbbaef%2F10-slide-cocktails-purple.png?1516874591365" style="width:275px; height:150px"></img></h1>
        <div class="row">
          <div class="col-md-12">
            <div class="m100p pos-rel">
              <i class="icon icon-search pos-abt v-center m-l-large text-lg color-logan"></i>
              <input id="search-box" autocomplete="off" name="hidden" type="text"
                class="w100p fill-white radius6 block elevation1 b-n p-large p-l-xxlarge otn">
            </div>
          </div>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="facets">
          <div class="facet">
            <div id="tags"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="hits">
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div id="pagination"></div>
      </div>
    </div>
    
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    
    <script src="search.js"></script>
    {% include "partials/variables.html" %}
    
    <footer>All cocktail data and images are special thanks to the crowd-sourced <a href="http://www.thecocktaildb.com/" target="_blank">CocktailDB </a>website.</footer>
  </body>
</html>