/* styles */
/* called by your view template */

/* You have access to these styles in addition to bootstap, which is accessed via CDN in your index.html file */
/* Check out how to use different components below: */
/* https://getbootstrap.com/docs/4.0/getting-started/introduction/ */

input[type="checkbox"] {
    display:none;
}

p {
  font-size: 15px !important;
}

footer {
  text-align: center;
}

li {
  list-style: none;
  font-size: 18px;
  color: grey;
}
body {
  /*font-family: 'Pangolin', cursive;*/
}

#success_message{
  background: #CCF5CC;
  text-align: center;
  display: none;
}

.drink-images {
  margin: 0 auto;
  display: block;
  box-shadow: 8px 8px 10px #aaa;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.drink-details {
  font-size: 18px !important;
}

.drink {
  font-size: 25px;
  color:gold;
}

.heart {
  font-size: 25px;
  color:red;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}

#tags {
  max-width: 70%;
  margin: 0 auto 40px auto;
  display: flex;
  justify-content: center;
}

.ais-hits em {
  background: #FFC168;
  font-style: normal;
}

.ais-refinement-list--count {
  display: none;
}

.ais-refinement-list--list {
}

.ais-refinement-list--item {
  margin: 0 16px 24px 0;
  float: left;
}

.ais-refinement-list--label {
  padding: 6px 24px;
  background: rgba(0,0,0,0.05);
  border-radius: 32px;
  color: #555;
  cursor:pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  
  &:hover {
    background: rgba(0,0,0,0.1);
  }
}

.ais-refinement-list--item__active .ais-refinement-list--label {
  background: #00AEFF;
  color: #fff;
  
}

/* copied from the instantsearch theme located at
   https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.0/dist/instantsearch-theme-algolia.css */
.ais-pagination {
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2);
          box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2);
  border: solid 1px #D4D8E3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  width: 0 auto; 
}

.ais-pagination--item {
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  width: 28px; 
}
.ais-pagination--item:hover {
  background: rgba(39, 81, 175, 0.1); 
}
.ais-pagination--item__disabled {
  color: #BBB;
  opacity: .5;
  pointer-events: none;
  visibility: visible; 
}
.ais-pagination--item__active {
  background: #3369E7; 
}
.ais-pagination--item__active .ais-pagination--link {
  color: #FFFFFF; 
}
.ais-pagination--link {
  color: #697782;
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%; 
}
.ais-pagination--link:hover {
  color: #3369E7;
  text-decoration: none; 
}

.align {
  margin: auto;
}

.align button[type="submit"] {
  margin-top: 10px;
}

.cocktail-form {
  z-index: 300;
}
.email-cocktail-form {
  margin-top: 10px;
}

